@using ProvaAlexandre.Dominio
@model ProvaAlexandre.Dominio.Usuario

@{
    ViewBag.Title = "Inicio";
}

<div>
    <h1> Bem-Vindo!</h1>
    <p>Este é um aplicativo privado que pertence a Gisele Lopes de O. Campos </p>
    <p>Este aplicativo foi desenvolvido para fins academicos. O Nome dado </p>
    <p>ao aplicativo foi : CyberRox Informática. </p>
</div>



@{
                            var usuario = (Usuario)Session["Usuario"];  
                        } 
                     <li>   
                    @usuario.UsuarioNome (<a href="@Url.Action("Sair", "Home")">Sair</a>)
                    </li>
